@page "/"

<h1>Welcome to your Job Boards </h1>



 Overview, Goals and Milestones : Job boards Pte Ltd is a platform for both companies and job seekers. Due to the COVID-19 situation that has lasted for 3 years, fresh graduates struggled 	to find jobs during the pandemic. Now that the economy is on an upward trajectory again, companies are looking for more manpower while job seekers	are looking for jobs.

<SurveyPrompt Title="Hope you find the jobs you are looking for" /> 
